ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li { display: inline; }

.navContainer {
	background: rgba(192,192,192,0.3);
	margin: 15px 0;
	width: 100%;
	height: 60px;
	text-align: center;
}

.navContainer a {
	text-decoration: none;
	padding: 5px 0;
	margin: 0 30px;
	font-family: AvenirNext-Regular;
	font-size: 17px;
	color: #FFFFFF;
	line-height: 60px;
}

.navContainer a:hover {
	text-shadow: 2px 2px gray;
	transition: all 0.2s linear;
}

.navContainer .activeNav {
	border-bottom: 1px solid white;
	padding-bottom: 2px;
}

.navLinksRight {
  float: right;
}

.navLinksRight a {
	cursor: pointer;
}

svg#shoppingCart {
	display: inline;
	height: 23px;
	width: auto;
	cursor: pointer;
}

span#shoppingCartValue {
	width: 20px;
	margin-right: 12px;
	font-family: AvenirNext-Regular;
	display: inline-block;
}

.shoppingCartIcon {
   width: 30px;
  height: 31px;
  margin-bottom: 5px;
  vertical-align: middle;
}
