/*Shopping Cart Page*/
.shoppingCartContainer {
  display: block !important;
  float: right;
  position: fixed;
  overflow: scroll;
  min-width: 556px;
  max-width: 600px;
  min-height: 10%;
  max-height: 80%;

  cursor: default;
  border: solid;
  border-radius: 10px;
  background: gray;
  text-align: center;
}

.checkout {
  cursor: pointer;
}

.total {
  margin: 0 0 -20px 0;
  font-size: 18px;
}

.shoppingCartItems {
  padding: 10px;
  text-align: center;
  font-family: AvenirNext-Regular;
  color: white;
  font-size: 18px;
  cursor: auto;
}

.shoppingCartFlavor {
  margin: 5px;
  border: solid 1px;
  display: inline-block !important;
  min-width: 300px;
  overflow: hidden;
}

.shoppingCartFlavor span {
  height: 30px;
  line-height: 30px;
}

.shoppingCartFlavorInfo {
  margin-top: 20px;
  margin-left: 10px;
  text-align: left;
  width: 35%;
  float: left;
}

.shoppingCartFlavorImg {
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 125px;
  width: 50%;
  float: left;
  overflow: hidden;
}

.shoppingCartFlavorImg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.itemQuantity, .itemPrice {
  font-size: 14px;
}

.itemRemove {
  cursor: pointer;
  float: right;
}
